body
  a(href='/') go home 
  br
  form(action='/change_password_submit', method='POST')
    p
      | If you are currently logged in as an admin, you can enter the email and new password.
      | Otherwise, you must enter your old and new password.
      br
      | Email: 
      input(type='text', name='email', value='')
      br
      if !admin
        | Old Password: 
        input(type='text', name='old_password', value='')
        br
      | New Password:
      input(type='text', name='new_password', value='')
    input(type='submit', value='Submit')
