html
  head
    title= title
  body
    h1= message
    a(href='/bans') ban list
    br
    a(href='/reports') report list 
    br
    a(href='/minecraft_accounts') minecraft accounts list 
    br
    a(href='/report') report a player 
    br
    a(href='/bans/find') search bans
    br
    a(href='/long-ban-appeals') appeals for recent, long bans
    br
    a(href='/reports/less-credible') non-credible reports