body
  a(href='/') go home 
  br
  form(action='/report_submit', method='POST')
    p
      | User ID: 
      input(type='text', name='submitted_by', value='')
      br
      | Minecraft UUID: 
      input(type='text', name='minecraft_uuid', value='')
      br
      | Urgency: 
      select(name="urgency_level")
        option(value=1) Low
        option(value=2) Medium
        option(value=3) High
      br
      | Content: 
      textarea(name='content', cols='30', rows='10')
      br
    input(type='submit', value='Submit')